<div id="register" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="btn-close" onclick="hideModalForm()" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="register-username" placeholder="username">
                    <label for="register-username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="register-password" placeholder="password">
                    <label for="register-password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="register-confirm" placeholder="confirm password">
                    <label for="register-confirm-password">Confirm Password</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideModalForm()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="register()">Register</button>
            </div>
        </div>
    </div>
</div>

